@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Anton&family=Archivo+Black&family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Anton&family=Archivo+Black&family=Baumans&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Anton&family=Archivo+Black&family=Baumans&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Concert+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 644px) and (min-width: 425px) {
  .fit{
    height: 500px;
  }
}
body{
    font-family: "Poppins", sans-serif;
}
html {
    scroll-behavior: smooth;
}
.text-outline-yellow {
  text-shadow: 2px 2px 0 #FFD700, -2px -2px 0 #FFD700, 2px -2px 0 #FFD700, -2px 2px 0 #FFD700;
}
.text-outline-white {
  text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
}
.concert-one-regular {
  font-family: "Concert One", sans-serif;
  
  font-weight: 400;
  font-style: normal;
}
.vietnam {
  font-family: "Be Vietnam Pro", sans-serif;  
  font-weight: 400;
  font-style: normal;
}
.baumans-regular {
  font-family: "Baumans", system-ui;
  font-weight: 500;
  font-style: normal;
}






 